body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #eaeaea;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
}
header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed #b5e853;
  padding: 20px 0;
  margin: 0 0 40px 0;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.main-content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section {
  display: block;
  margin: 0 0 20px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
  color: #b5e853;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1),
    0 0 10px rgba(181, 232, 83, 0.1);
}
#main_content h3 {
  font-size: 18px;
}
ul li {
  list-style-image: url("../images/bullet.png");
}
li {
  line-height: 1.4;
}
a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}
