body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #eaeaea;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
}
header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  /* border-bottom: 1px dashed #b5e853; */
  padding: 20px 0;
  /* margin: 0 0 40px 0; */
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.main-content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section {
  display: block;
  margin: 0 0 20px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
  color: #b5e853;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1),
    0 0 10px rgba(181, 232, 83, 0.1);
}
#main_content h3 {
  font-size: 18px;
}
ul li {
  list-style-image: url("../images/bullet.png");
}
li {
  line-height: 3;
}
a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}
audio {
  vertical-align: middle;
  float: left;
}
.column {
  float: left;
}
.left {
  width: 50%;
}
.right {
  width: 40%;
}

button {
  margin-left: 1em;
}
.track-title {
  color: #b5e853;
}
.play-button {
  /* background: url("../images/bullet.png") no-repeat; */
  cursor: pointer;
  border: none;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: medium;
  border-right-color: currentcolor;
  border-right-style: none;
  border-right-width: medium;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-left-color: currentcolor;
  border-left-style: none;
  border-left-width: medium;
  vertical-align: sub;
  border: 1px dashed #b5e853;
  width: 4em;
  border-color: #b5e853;
  color: white;
  border-radius: 1em;
  height: 2em;
  border-style: solid;
  border-width: 2px;
  background-color: black;
}

.audio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-auto-rows: 3em;
  border: 1px solid #b5e853;
  border-radius: 2em;
  padding: 1em;
}
.now-playing-container {
  grid-row: 1;
}
.audio-player {
  grid-row: 1;
}
.album-title {
  display: block;
  width: 100;
}
.track-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: 7em;
  /* display: grid; */
}
/* .music {
  display: grid;
  grid-template-columns: (repeat(3, 1fr));
  gap: 10px;
  grid-auto-rows: (minmax(3em, auto));
} */
